 img {
    width: 100%;
    border-radius: 5.3vw;
    margin: 5.3vw 0;
}
 ul.right {
    background-color: #fff;
    border-radius: 20px;
    padding: 0 2.6vw 5.3vw 2.6vw;
}
 ul.right li {
    width: 33.333333%;
    display: inline-block;
}
 ul.right li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.6vw;
}
 ul.right li img {
    height: 100%;
}
 ul.right li span {
    font-size: 3.2vw;
    text-align: center;
    color: #000;
}
 p.tip {
     padding: 2.6vw 0;
     text-align: center;
     background-color: #ffffff;
     border-radius: 5.3vw;
     color: #ff464e;
 }
