.login-content {
    height: 52vw;
}
.login-content input {
    height: 12vw;
    width: 100%;
    border: none;
    outline: none;
}
.login {
    text-align: center;
    padding-top: 5.3vw;
}
input.login-gray {
    width: 100%;
    height: 12vw;
    background-color: #ff464e;
    color: #fff;
    font-size: 4.8vw;
}
.login-content-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2.6vw;
}
.login-content-bottom .left {
    display: flex;
    align-items: center;
}
.login-content-bottom .left span {
    font-size: 3.7vw;
    color: #999;
}
.login-content-bottom .right {
    color: #999;
    font-size: 3.7vw;
}
