.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
}
.header {
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    text-align: center;
    position: relative;
    padding: 0 10px;
    z-index: 1000;
}
.content {
    flex-grow: 1;
    border-top: 1px solid #b0b0b0;
    background-color: rgb(244, 244, 248);
    overflow: auto;
}
.footer {
    flex-shrink: 0;
}

